div {
    display: flex;
}

#cards {
    flex-direction: column;
    font-size: 10px;
    margin: 0 auto;
    width: fit-content;
}

.card_row {
    flex-direction: row;
    margin-top: 2px;
}

.red {
    color: red;
}

.card_info {
    flex-direction: column;
    margin: 0 6px;
    text-align: center;
}

.card_info button {
    width: 33px;
    height: 26px;
    font-size: 15px;
    color: inherit;
    margin-bottom: 2px;
}

#insights {
    justify-content: center;
}

#insights table,
#insights th,
#insights td {
    border: 1px solid black;
    border-collapse: collapse;
}

#insights {
    flex-wrap: wrap;
    font-size: 8px;
}

#insights table {
    margin: 5px 10px;
}

#insights th,
#insights td {
    padding: 2px;
}

#suggestion th {
    width: 80px;
}

#stat2 th,
#stat2 td {
    white-space: nowrap;
}

#control_buttons {
    margin-left: 30%;
}

#control_buttons button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin: 0 4px;
}

@media (max-width: 600px) and (orientation: portrait) {
    #cards {
        width: 100%;
        font-size: 3vw;
    }

    .card_row {
        flex-wrap: wrap;
    }

    .card_info {
        width: 13%;
        margin: 0 auto;
    }

    .card_info button {
        width: 100%;
        height: initial;
        aspect-ratio: 4/3;
        font-size: 4vw;
        color: inherit;
        margin-bottom: 2px;
    }

    #insights {
        font-size: 1.7vw;
    }

    #insights table {
        margin: 5px auto;
    }
}