div {
    display: flex;
}

#cards {
    flex-direction: column;
    font-size: 10px;
    margin: 0 auto;
    width: fit-content;
}

.card_row {
    flex-direction: row;
    margin-top: 2px;
}

.red {
    color: red;
}

.card_info {
    flex-direction: column;
    margin: 0 6px;
    text-align: center;
}

.card_info button {
    width: 33px;
    height: 26px;
    font-size: 15px;
    color: inherit;
    margin-bottom: 2;
}

#insights {
    width: fit-content;
}

#stat table,
#stat th,
#stat td {
    border: 1px solid black;
    border-collapse: collapse;
}

#stat table {
    font-size: 8px;
}

#stat th,
#stat td {
    padding: 2px;
}

#stat2 {
    margin-left: 20px;
}

#stat2 th,
#stat2 td {
    white-space: nowrap;
}

#control_buttons {
    margin-left: 30%;
}

#control_buttons button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin: 0 4px;
}